@using PhotoBlog.Models
@model Photo
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x=>x.Id)

    @Html.LabelFor(x => x.Head)
    @Html.TextBoxFor(x => x.Head, new { @class = "form-control" })

    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

    @Html.LabelFor(x => x.Path)
    @Html.TextBox("file", null, new { type = "file", @class = "form-control" })

    @Html.LabelFor(x => x.Tags)
    @Html.ListBox("etiketler", (MultiSelectList)ViewBag.Tags, new { @class = "form-control"})


    <br />
    <br />
    <br />
    <button type="submit" class="form-control btn-success">Save</button>
}